{% extends 'seller/master.html' %}
{% load static %}
{% block content %}
<div class="row my-5 me-1">
    <h3 class="fs-1 mb-3 text-center">Orders</h3>
    <div class="col">
      <table class="table bg-white rounded shadow-sm  table-hover text-center">
        <thead>
          <tr>
            <th scope="col" width="50">#</th>
            <th scope="col">Product Id</th>
            <th scope="col">Product</th>
            <th scope="col">Customer</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1200</td>
            <td>Television</td>
            <td>Jonny</td>
            <td>$1200</td>
            <td>pending</td>
            <td><button class="btn btn-danger">Confirm</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}